# Virtual environments
venv/
.third-party/

# Python cache
__pycache__/
*.pyc
*.pyo

# App secrets
.env

# SQLite or local DB files
instance/
*.db

# Flask session files
flask_session/

# IDE settings
.vscode/
*.idea/

# Logs
logs/

# Local
scripts/
packages/